* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.top {
    height: 1024px;
    background-image: url(img/fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 120px;
}
.caption {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-top: 217px;
}
.subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-top: 32px;
    padding-bottom: 44px;
    width: 481px;
}
.button {
    width: 234.06px;
    height: 48.6px;
    left: 120px;
    top: 482.11px;
    background: #9C0332;
    border-radius: 30px;
    
}
.top2 {
    height: 556px;
    background-image: url(img/Fon2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.game {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 32px;
}
.item {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 379px;
    height: 300px;
    border-radius: 16px;
}
.item_1{
    background-image: url(img/Game1.png);
    display: flex;
    align-items: flex-end;
    padding-left: 32px;
    padding-bottom: 32px;
}
.item_2{
    background-image: url(img/Game2.png);
    display: flex;
    align-items: flex-end;
    padding-left: 32px;
    padding-bottom: 32px;
}
.item_3{
    background-image: url(img/Game3.png);
    display: flex;
    align-items: flex-end;
    padding-left: 32px;
    padding-bottom: 32px;
}
@import '_mobil';